$primary-dark: #333d3c;
$primary: #6e8189;
$primary-light: #b4b6ab;
$secondary-dark: #a0514b;
$secondary: #c5a288;
$secondary-light: #d4b29d;
$gray: #6e8189;
$gray-light: #a39f9d;
$black: #101010;
$white: #fffef2;
$card-primary: #81aec0;
$card-secondary: #ce746d;
$card-tertiary: #b6bd95;

//font size
$heading-xsmall: 18px;
$heading-small: 24px;
$heading-medium: 32px;
$heading-large: 40px;
$heading-xlarge: 48px;
$paragraph-xsmall: 14px;
$paragraph-small: 16px;
$paragraph-medium: 18px;
$paragraph-large: 24px;
$paragraph-xlarge: 32px;

//font space
$font-space-small: 1px;
$font-space-medium: 2px;
$font-space-large: 4px;
$font-space-xlarge: 6px;

//spacing
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-xlarge: 40px;
