$primary-dark: #333d3c;
$primary: #6e8189;
$primary-light: #b4b6ab;
$secondary-dark: #a0514b;
$secondary: #c5a288;
$secondary-light: #d4b29d;
$gray: #6e8189;
$gray-light: #a39f9d;
$black: #101010;
$white: #fffef2;
$card-primary: #81aec0;
$card-secondary: #ce746d;
$card-tertiary: #b6bd95;
