@import 'variables';
@import '_mixins.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: $primary;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.divider {
  width: 100%;
}

.header {
  display: flex;
  width: 100vw;
  margin: 0;
  .header__navbar {
    width: 100%;
    margin: 0;
    .nav-list {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin: 0;
      .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 192px;
        height: 5vh;
        color: $white;
        cursor: pointer;

        &:hover {
          background-color: $gray-light;
        }
      }
      .action {
        background-color: $gray-light;
      }
    }
  }
}

// HOME

.main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-section {
    width: 85%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-banner-container {
      position: relative;
      width: 100%;
      height: 320px;
      background-color: $white;
    }
  }
  .bottom-section {
    width: 85%;
    height: 60%;
    display: flex;

    .recent-blog-list {
      flex: 60%;
      height: 100%;
      padding: 0;
    }

    .news-container {
      flex: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: $white;
        text-align: center;
        font-size: $heading-small;
        letter-spacing: $font-space-large;
      }

      .news-list {
        flex: 1;
        padding: 0;
        margin: 0;
        .news-list__item {
          display: flex;
          align-items: center;
          margin-bottom: $spacing-medium;
          font-size: $paragraph-large;
          cursor: pointer;

          .icon {
            margin-right: $spacing-medium;
          }

          .heading {
            margin-left: $spacing-xsmall;
            letter-spacing: $font-space-medium;
          }
          .content {
            letter-spacing: $font-space-small;
          }
        }
      }

      .btn {
        width: 128px;
        height: 36px;
        text-align: center;
        font-size: $paragraph-large;
        opacity: 0.75;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }
      }
    }

    .blog-list__container {
      width: 95%;
    }
  }
}

.blog-list__item {
  width: 95%;
  height: 128px;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  margin-bottom: 16px;
  @include shadow;

  .blog-list__item__thumbnail-container {
    position: relative;
    width: 212px;
    height: 100%;
  }

  .blog-list__item__content-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    h3 {
      display: inline-block;
      font-size: $heading-xsmall;
      width: 560px;
      color: $black;
      text-align: center;
      &::after {
        content: '';
        display: block;
        width: 80%;
        height: 3px;
        margin: $spacing-xsmall auto 0;
        background-color: $secondary-dark;
      }
    }
    p {
      width: 560px;
      display: inline-block;
      color: $primary-dark;
      margin: 0;
    }
  }
}

// Blog
