@import 'variables';
@import '_mixins.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $primary;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.divider {
  width: 100%;
}

.main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-section {
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-banner-container {
      width: 100%;
      height: 320px;
      background-color: $white;
    }
  }
  .bottom-section {
    width: 85%;
    height: 50%;
    display: flex;

    .recent-blog-list {
      flex: 60%;
      height: 100%;
      padding: 0;
      .blog-list__item {
        width: 95%;
        height: 128px;
        background-color: $white;
        margin-bottom: 16px;
        @include shadow;
      }
    }

    .news-container {
      flex: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: $white;
        text-align: center;
      }

      .news-list {
        flex: 1;
        padding: 0;
        margin: 0;
        .news-list__item {
          margin-bottom: 16px;
        }
      }
    }
  }
}
